@charset "ISO-8859-1";

footer {
	text-align: center;
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	padding: 15px;
}

footer label {
	background-color:black;
	color: white;
	margin-bottom: 0px;
	text-align: center;
	font-size: 1.5rem;
}